# WebScraiping

## HTML Tables structure

Table Schematic

![Table structure](./pic03.gif)

Table Structure

![Table structure](./pic01.gif)

Table HTML Code

![Table structure](./pic02.png)

Sample HTML Table Code

<!DOCTYPE html>
<html>
<head>
  <title>Web Scraping Sample</title>
</head>
<body>
  <table>
    <tr>
      <th>Name</th>
      <th>Age</th>
    </tr>
    <tr>
      <td>John</td>
      <td>25</td>
    </tr>
    <tr>
      <td>Jane</td>
      <td>30</td>
    </tr>
  </table>
</body>
</html>

![Table in Page](./result.png)

## Web Scraping with Python

import required packages

In [ ]:
import pandas as pd
import requests
from bs4 import BeautifulSoup

This is our sample page to Scrape some Data From it. check it.

https://afd.calpoly.edu/web/sample-tables

In [ ]:
# Send a request to the web page and fetch the HTML content
url = 'https://afd.calpoly.edu/web/sample-tables'

In [ ]:
response = requests.get(url)

Let's take a look at retrived Data

Every time you request for a webpage you receive two Data, onw for status of your request and one for result text </br>
Let's take a look at them

In [ ]:
response.status_code

In [ ]:
response.text

Now it's time to make the result text pretty

In [ ]:
# Parse the HTML content using BeautifulSoup
soup = BeautifulSoup(response.text, "html.parser")

In [ ]:
soup

So, now we have the comlete HTML source of page in a shape that we can understand better.</br>
Let's extract Tables

In [ ]:
# Find the table element using its tag name and any unique identifier (e.g., class, id)
tables = soup.find_all('table')

In [ ]:
tables

The tables object is a list of all tables that we found in the page

With this Function we can Extract all **th** tags and also **td** tags inside every **tr** tag

In [ ]:
# Extract the data from the table
def extractTablesData(table):
    all_rows = []
    all_columns = []
    if table:
        # Extract the table headers (th) and append them to the table_data list
        headers = table.find_all("th")
        header_row = [header.get_text(strip=True) for header in headers]
        all_columns.append(header_row)

        # Extract the table rows (tr) and append their data to the table_data list
        rows = table.find_all("tr")
        for row in rows[1:]:  # Skip the first row as it contains the headers
            row_data = [cell.get_text(strip=True) for cell in row.find_all("td")]
            all_rows.append(row_data)

    return all_columns, all_rows

In this step we want to iterate over all tables in list and retrive the header and data of each one

In [ ]:
for table in tables:
    cols, rows = extractTablesData(table)
    print('*******')
    print(cols)
    print('*******')
    print('')

In [ ]:
for table in tables:
    cols, rows = extractTablesData(table)
    print('*******')
    print(cols)
    print('--------')
    for row in rows:
        print(row)
    print('---------')
    break

In [ ]:
for table in tables:
    cols, rows = extractTablesData(table)
    columns = cols[0]

    break
    
print(columns)

In [ ]:
for table in tables:
    cols, rows = extractTablesData(table)
    for row in rows:
        print(row)
        break
    break

In [ ]:
for table in tables:
    cols, rows = extractTablesData(table)
    for row in rows:
        print(row[0])
        print(row[1])
        print(row[2])
        break
    break

In [ ]:
Description = []
Date = []
Location = []

for table in tables:
    cols, rows = extractTablesData(table)
    for row in rows:
        Description.append(row[0])
        Date.append(row[1])
        Location.append(row[2])
        break
    break

In [ ]:
print(Description)

In [ ]:
print(Date)

In [ ]:
print(Location)

In [ ]:
Description = []
Date = []
Location = []

for table in tables:
    cols, rows = extractTablesData(table)
    for row in rows:
        Description.append(row[0])
        Date.append(row[1])
        Location.append(row[2])
    break

In [ ]:
print(Description)

In [ ]:
print(columns)

In [ ]:
print(Description)

In [ ]:
print(Date)

In [ ]:
print(Location)

In [ ]:
dic = {
    'Description': Description,
    'Date': Date,
    'Location': Location
}

In [ ]:
dic

In [ ]:
df = pd.DataFrame(dic)

In [ ]:
df

![Table structure](./table.png)